<div id="feedback" class="absolute bottom-0 end-4" role="alert">

    <div id="toast-success"
        class="hidden flex items-center w-full max-w-md p-4 mb-4 text-gray-500 bg-white rounded-lg shadow "
        role="alert">
        <div
            class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-green-500 bg-green-100 rounded-lg">
            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                viewBox="0 0 20 20">
                <path
                    d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
            </svg>
            <span class="sr-only">Check icon</span>
        </div>
        <div class="ml-3 text-sm font-normal">{{ request.state.feedback_message }}</div>
    </div>

    <div id="toast-danger"
        class="hidden flex items-center w-full max-w-md p-4 mb-4 text-gray-500 bg-white rounded-lg shadow "
        role="alert">
        <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-red-500 bg-red-100 rounded-lg">
            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                viewBox="0 0 20 20">
                <path
                    d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 11.793a1 1 0 1 1-1.414 1.414L10 11.414l-2.293 2.293a1 1 0 0 1-1.414-1.414L8.586 10 6.293 7.707a1 1 0 0 1 1.414-1.414L10 8.586l2.293-2.293a1 1 0 0 1 1.414 1.414L11.414 10l2.293 2.293Z" />
            </svg>
            <span class="sr-only">Error icon</span>
        </div>
        <div class="ml-3 text-sm font-normal">{{ request.state.feedback_message }}</div>
    </div>

    <div id="toast-warning"
        class="hidden flex items-center w-full max-w-md p-4 mb-4 text-gray-500 bg-white rounded-lg shadow "
        role="alert">
        <!-- Rest of the code -->
        <div
            class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-orange-500 bg-orange-100 rounded-lg">
            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                viewBox="0 0 20 20">
                <path
                    d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM10 15a1 1 0 1 1 0-2 1 1 0 0 1 0 2Zm1-4a1 1 0 0 1-2 0V6a1 1 0 0 1 2 0v5Z" />
            </svg>
            <span class="sr-only">Warning icon</span>
        </div>
        <div class="ml-3 text-sm font-normal">{{ request.state.feedback_message }}</div>
    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const feedbackType = "{{ request.state.feedback_type }}";
        const feedbackMessage = "{{ request.state.feedback_message }}";
        let toast;

        switch (feedbackType) {
            case 'success':
                toast = document.getElementById("toast-success");
                break;
            case 'error':
                toast = document.getElementById("toast-danger");
                break;
            case 'warning':
                toast = document.getElementById("toast-warning");
                break;
            default:
                console.log(`Unknown feedback type: ${feedbackType}`);
                return;
        }

        if (feedbackMessage) {
            toast.classList.remove('hidden');
            setTimeout(() => {
                toast.classList.add('hidden');
            }, 10000);
        }
    });

</script>