{% extends "layouts/base.html" %}
{% block header %}
{% include'fragments/header.html' %}
{% endblock %}

{% block content_header %}

{% if breadcrumbs %}
{% include'fragments/breadcrumbs.html' %}
{% endif %}

{% endblock %}
{% block javascript %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Mobile menu
        const mobileMenuButton = document.querySelector(
            '[aria-controls="mobile-menu"]'
        );
        const mobileMenu = document.getElementById("mobile-menu");

        mobileMenuButton.addEventListener("click", function () {
            mobileMenu.classList.toggle("hidden");
        });
    });
</script>
{% endblock %}