{% extends "layouts/base.html" %}
{% block header %}
{% include'fragments/header.html' %}
{% endblock %}

{% block content_header %}

{% if breadcrumbs %}
<ul class="breadcrumb">
    {% for crumb in breadcrumbs %}

    <li>
        {% if crumb.url %}
        <a href="{{ crumb.url }}">{{ crumb.title }}</a>
        {% else %}
        {{ crumb.title }}
        {% endif %}

    </li>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}
{% block javascript %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Dropdown menu
        const userMenuButton = document.getElementById("user-menu-button");
        const userMenuDropdown = document.querySelector(
            '[aria-labelledby="user-menu-button"]'
        );

        userMenuButton.addEventListener("click", function () {
            userMenuDropdown.classList.toggle("hidden");
        });

        // Mobile menu
        const mobileMenuButton = document.querySelector(
            '[aria-controls="mobile-menu"]'
        );
        const mobileMenu = document.getElementById("mobile-menu");

        mobileMenuButton.addEventListener("click", function () {
            mobileMenu.classList.toggle("hidden");
        });
    });
</script>
{% endblock %}