{% extends "layouts/dashboard.html" %} {% block content %}
{% import 'macros/buttons.html' as btn %}

<div class="container mx-auto px-4 md:px-0">
    <div class="flex flex-col sm:flex-row sm:flex-wrap sm:space-x-6 mb-12">
        <div class="grow">
            <p class="text-xl">Accounts</p>
            <p class="text-3xl">
                {{ total_balance }}
            </p>
        </div>
        <div class="flex-none">
            {% if account_list|length < max_allowed_accounts %} <a href="{{ url_for('page_create_account_form')}}">
                {{ btn.button("Create Account")}}
                </a>
        </div>
    </div>

    {% endif %}
    <div class="grid gap-12">
        {% for account in account_list %}
        <a href="{{ url_for('page_get_account', account_id=account.id)}}">
            {% include 'fragments/accounts/accountCard.html' %}
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}