{% extends "layouts/dashboard.html" %} {% import 'macros/buttons.html' as btn %}
{% import 'macros/icons.html' as icon %} {% block content %}

<div
  class="flex flex-col md:flex-row md:space-x-4 space-y-4 md:space-y-0 w-full mb-6"
>
  <div class="grow w-full md:w-auto">
    <div class="flex flex-row space-x-4 items-center">
      <p class="text-xl text-gray-700 font-medium">{{wallet.label}}</p>
      {{ btn.edit(url_for('page_update_wallet_form', wallet_id=wallet.id)) }}
    </div>
  </div>
  <div class="flex justify-end space-x-2 ">
    {{ btn.link("Create Transaction", url_for('page_create_transaction_form', wallet_id=wallet.id)) }}
    <div class="relative">
        {{btn.button(id="menu-button", classname="text-lg", text='<i class="fa-solid fa-ellipsis py-1"></i>', variant='secondary' )}}
      <div class="absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none hidden" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" id="dropdown-menu">
        <div class="py-1" role="none">
          <a href="{{ url_for('page_list_scheduled_transactions', wallet_id=wallet.id) }}" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="menu-item-0">Scheduled Transactions</a>
          <a href="{{ url_for('page_import_transactions_get', wallet_id=wallet.id) }}" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="menu-item-0">Import</a>
        </div>
      </div>
    </div>
  </div>
</div>

  <script>
    document.getElementById('menu-button').addEventListener('click', function (event) {
      const dropdownMenu = document.getElementById('dropdown-menu');
      if (dropdownMenu.classList.contains('hidden')) {
        dropdownMenu.classList.remove('hidden');
        event.target.setAttribute('aria-expanded', 'true');
      } else {
        dropdownMenu.classList.add('hidden');
        event.target.setAttribute('aria-expanded', 'false');
      }
    });

    // Close the dropdown if the user clicks outside of it
    window.addEventListener('click', function (event) {
      const menuButton = document.getElementById('menu-button');
      const dropdownMenu = document.getElementById('dropdown-menu');
      if (!menuButton.contains(event.target) && !dropdownMenu.contains(event.target)) {
        dropdownMenu.classList.add('hidden');
      }
    });
  </script>

<div class="flex flex-col items-center bg-white shadow py-6 rounded-lg">
  <div class="uppercase tracking-wide text-center mb-6 md:mb-8">
    <span class="text-gray text-xs font-bold mb-2">Balance</span>
    <p class="text-primary text-4xl">{{ '%0.2f' % wallet.balance }}</p>
  </div>

  <div class="uppercase tracking-wide text-center text-gray">
    <span class="text-xs mb-2">Total</span>
    <p class="text-xl font-medium">{{ '%0.2f' % total }}</p>
  </div>

  <div class="flex space-x-12 mt-2 text-center">
    <div class="flex flex-row items-center text-success-dark bg-success-light p-2 rounded-lg">
      <div>
        <i class="fa-solid fa-arrow-up mr-2"></i>
      </div>
      <div>{{ '%0.2f' % income }}</div>
    </div>
    <div class="flex flex-row items-center text-danger-dark bg-red-100 p-2 rounded-lg">
      <div>
        <i class="fa-solid fa-arrow-down mr-2"></i>
      </div>
      <div>{{ '%0.2f' % expenses }}</div>
    </div>
  </div>
</div>

<div class="flex justify-end mt-6">
  {% include'fragments/datePicker.html' %}
</div>

<div id="transactions" class="grid gap-4 mb-12">
  {% for group in transaction_list_grouped %}
  <div class="w-full">
    <span class="pb-4 text-gray font-medium text-lg"
      >{{ group.date.strftime('%A - %d %B') }}</span
    >
    <div class="grid gap-3 bg-white transition rounded-lg">
      {% for transaction in group.transactions %}
      <a
        href="{{ url_for('page_update_transaction_get', wallet_id=wallet.id, transaction_id=transaction.id)}}"
      >
        {% include 'fragments/wallets/transaction.html' %} 
      </a>
      {% endfor %}
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
