{% extends "layouts/dashboard.html" %}
{% import 'macros/buttons.html' as btn %}

{% block content %}
<div class="flex flex-col sm:flex-row sm:flex-wrap sm:space-x-6 mb-6">
    <div class="grow">
        <p class="py-2 text-xl text-gray">Accounts</p>
    </div>

    {% if account_list|length < max_allowed_accounts %} <div class="flex-none">
        <a href="{{ url_for('page_create_account_form')}}">
            {{ btn.button("Add Account")}}
        </a>
</div>
{% endif %}
</div>


<div class="flex flex-col items-end pr-6 mb-2 mt-12">
    <div class="text-right">
        <span class="uppercase tracking-wide text-gray text-xs font-bold">Total Balance</span>
        <p class="text-primary text-xl font-bold ">
            {{ total_balance }}
        </p>
    </div>
</div>

<div class="grid gap-6">
    {% for account in account_list %}
    <a href="{{ url_for('page_get_account', account_id=account.id)}}">
        {% include 'fragments/accounts/accountCard.html' %}
    </a>
    {% endfor %}
</div>
{% endblock %}