{% extends "layouts/dashboard.html" %}
{% import 'macros/buttons.html' as btn %}
{% set account_list_length = account_list|length %}
{% block content %}
<div class="flex flex-col md:flex-row md:space-x-4 space-y-4 md:space-y-0 w-full mb-6">
    <div class="grow w-full md:w-auto flex flex-row items-center space-x-2">
        <div class="py-2 text-xl text-gray">Accounts</div>
        <div>
            <span class="text-gray">
                ({{account_list_length}}/{{ max_allowed_accounts }})
            </span>
        </div>
    </div>

    {% if account_list_length < max_allowed_accounts %} <div class="w-full md:w-auto">
        <a href="{{ url_for('page_create_account_form')}}">
            {{ btn.button("Add Account")}}
        </a>
</div>
{% endif %}
</div>


<div class="flex flex-col items-end pr-6 mb-2 mt-12">
    <div class="text-right">
        <span class="uppercase tracking-wide text-gray text-xs font-bold">Total Balance</span>
        <p class="text-primary text-xl font-bold ">
            {{ '%0.2f' % total_balance }}
        </p>
    </div>
</div>

<div class="grid gap-6">
    {% for account in account_list %}
    <a href="{{ url_for('page_get_account', account_id=account.id)}}">
        {% include 'fragments/accounts/accountCard.html' %}
    </a>
    {% endfor %}
</div>
{% endblock %}