{% extends "layouts/dashboard.html" %}

{% import 'macros/form_controls.html' as form_ctrl %}

{% block content %}
<h1>Create Budgeting Account</h1>

<form action="{{ url_for('page_create_account') }}" method="post" class="space-y-6">
    {{ form.csrf_token }}
    {% for field in form %}
    {% if field.type not in ("HiddenField", "CSRFTokenField") %}
    {{ form_ctrl.input_field(field) }}
    {% endif %}
    {% endfor %}
    {{ form_ctrl.submit_button('Create Account') }}
</form>

{% endblock %}