{% extends "layouts/dashboard.html" %}
{% import 'macros/buttons.html' as btn %}

{% block content %}
{% include'fragments/datePicker.html' %}

<div class="flex items-center w-full">
    <div class="grow">
        <h2 class="">{{account.label}}</h2>
        <h6>{{ account.description }}</h6>
    </div>
    <div class="basis-auto">
        <h1>{{account.balance}}</h1>
    </div>
</div>
<div class="my-6">
    <a href="{{ url_for('page_create_transaction_form', account_id=account.id)}}">
        {{ btn.button("Create Transaction")}}
    </a>
</div>
<div id="transactions">
    <div>
        {% for group in transaction_list_grouped %}
        <h4>{{ group.date.strftime('%A, %d %B') }}</h4>
        {% for transaction in group.transactions %}
        <a href="{{ url_for('page_update_transaction', account_id=account.id, transaction_id=transaction.id)}}">
            {% include 'fragments/accounts/transaction.html' %} {% endfor %} {% endfor %}
        </a>
    </div>
</div>
{% endblock %}