{% import 'macros/buttons.html' as btn %}
{% extends "layouts/base.html" %}
{% block content %}
<div class="grid min-h-full place-items-center px-6 py-24 sm:py-32 lg:px-8">
    <div class="text-center">
        <h4 class="text-danger">403</h4>
        <h1 class="mt-4 text-3xl font-bold tracking-tight text-gray-900 sm:text-5xl">Access denied</h1>
        <p class="mt-6 text-base leading-7 text-gray-600">You do not have permission to access this resource.</p>
        <div class="mt-10 flex items-center justify-center gap-x-6">
            <a href="{{ request.referrer }}">
                {{ btn.button('Go back') }}
            </a>
        </div>
    </div>
</div>
{% endblock %}
