/* variables.css */

:root {
 --primary: #4f46f8;
 --primary-light: #5357ff;
 --primary-50: #ecf1ff;
 --primary-100: #dce5ff;
 --primary-200: #c1ceff;
 --primary-300: #9baeff;
 --primary-400: #7382ff;
 --primary-600: #4f46f8;
 --primary-700: #3427db;
 --primary-800: #2a23b0;
 --primary-900: #27248b;
 --primary-950: #191551;
 --secondary: #ff438c;
 --secondary-50: #fef1f7;
 --secondary-100: #fee5f0;
 --secondary-200: #ffcae3;
 --secondary-300: #ff9fcb;
 --secondary-400: #ff63a7;
 --secondary-600: #f0125e;
 --secondary-700: #d10544;
 --secondary-800: #ad0738;
 --secondary-900: #8f0c33;
 --secondary-950: #580019;
 --bg-color: #f1f5f9;
 --gray: #647793;
 --gray-50: #f6f7f9;
 --gray-100: #eceef2;
 --gray-200: #d4dae3;
 --gray-300: #afbaca;
 --gray-400: #8495ac;
 --gray-600: #506079;
 --gray-700: #414e63;
 --gray-800: #374151;
 --gray-900: #333b47;
 --gray-950: #22272f;
 --info-light: #c7def0;
 --info: #5ca2d4;
 --info-dark: #3886bf;
 --info-hover: #95c1e4;
 --danger-light: #fdced5;
 --danger: #f14668;
 --danger-dark: #dd214f;
 --danger-hover: #f8748b;
 --success-light: #f0fdf4;
 --success: #85f0aa;
 --success-dark: #49df7d;
 --success-hover: #bbf7cf;
 --success-50: #f0fdf4;
 --success-100: #dcfce6;
 --success-200: #baf8cf;
 --success-300: #85f0aa;
 --success-400: #49df7e;
 --success-500: #20c75b;
 --success-600: #15a448;
 --success-700: #14813b;
 --success-800: #156633;
 --success-900: #13542c;
 --success-950: #052e15;
 --warning-light: #fffaeb;
 --warning: #ffe08a;
 --warning-dark: #ffc94a;
 --warning-hover: #fff0c6;
}
