{% macro primary_button(text, type='button') -%}
<button type="{{ type }}" class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-700">
    {{ text }}
</button>
{% endmacro %}

{% macro success_button(text, type='button') -%}
<button type="{{ type }}" class="px-4 py-2 bg-green-500 text-white rounded hover:bg-green-700">
    {{ text }}
</button>
{% endmacro %}

{% macro danger_button(text, type='button') -%}
<button type="{{ type }}" class="px-4 py-2 bg-red-500 text-white rounded hover:bg-red-700">
    {{ text }}
</button>
{% endmacro %}

{% macro info_button(text, type='button') -%}
<button type="{{ type }}" class="px-4 py-2 bg-blue-300 text-white rounded hover:bg-blue-500">
    {{ text }}
</button>
{% endmacro %}

{% macro secondary_button(text, type='button') -%}
<button type="{{ type }}" class="px-4 py-2 bg-gray-500 text-white rounded hover:bg-gray-700">
    {{ text }}
</button>
{% endmacro %}