{% macro primary_button(text, type='button') -%}
<button type="{{ type }}"
    class="flex w-full justify-center rounded-md bg-primary p-3 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-primary-light focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary">
    {{ text }}
</button>
{% endmacro %}

{% macro success_button(text, type='button') -%}
<button type="{{ type }}"
    class="flex w-full justify-center rounded-md bg-success p-3 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-success-light focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-success">
    {{ text }}
</button>
{% endmacro %}

{% macro danger_button(text, type='button') -%}
<button type="{{ type }}"
    class="flex w-full justify-center rounded-md bg-danger p-3 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-danger-light focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-danger">
    {{ text }}
</button>
{% endmacro %}

{% macro info_button(text, type='button') -%}
<button type="{{ type }}"
    class="flex w-full justify-center rounded-md bg-info p-3 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-info-light focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-info">
    {{ text }}
</button>
{% endmacro %}

{% macro secondary_button(text, type='button') -%}
<button type="{{ type }}"
    class="flex w-full justify-center rounded-md bg-secondary p-3 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-secondary-light focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-secondary">
    {{ text }}
</button>
{% endmacro %}