{% macro primary_button(text, type='button', id='') -%}
<button id="{{ id }}" type="{{ type }}"
    class="flex justify-center transition rounded-md bg-primary py-2 px-4 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-transparent hover:text-primary hover:border-primary border-transparent border focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary disabled:opacity-50">
    {{ text }}
</button>
{% endmacro %}

{% macro success_button(text, type='button', id='') -%}
<button id="{{ id }}" type="{{ type }}"
    class="flex justify-center transition rounded-md bg-success py-2 px-4 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-transparent hover:text-success hover:border-success border-transparent border focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-success disabled:opacity-50">
    {{ text }}
</button>
{% endmacro %}

{% macro danger_button(text, type='button', id='') -%}
<button id="{{ id }}" type="{{ type }}"
    class="flex justify-center transition rounded-md bg-danger py-2 px-4 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-transparent hover:text-danger hover:border-danger border-transparent border focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-danger disabled:opacity-50">
    {{ text }}
</button>
{% endmacro %}

{% macro info_button(text, type='button', id='') -%}
<button id="{{ id }}" type="{{ type }}"
    class="flex justify-center transition rounded-md bg-info py-2 px-4 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-transparent hover:text-info hover:border-info border-transparent border focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-info disabled:opacity-50">
    {{ text }}
</button>
{% endmacro %}

{% macro secondary_button(text, type='button', id='') -%}
<button id="{{ id }}" type="{{ type }}"
    class="flex justify-center transition rounded-md bg-secondary py-2 px-4 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-transparent hover:text-secondary hover:border-secondary border-transparent border focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-secondary disabled:opacity-50">
    {{ text }}
</button>
{% endmacro %}