{% import 'macros/buttons.html' as btn %}
{% import 'macros/icons.html' as icon %}
{% import 'macros/modal.html' as modal %}

{% set label_base_classname = "block uppercase tracking-wide text-gray text-xs font-bold mb-2 "%}
{% set input_base_classname = "disabled:bg-gray-200 disabled:text-gray
block appearance-none border-2 w-full shadow bg-white border border-gray-200 px-4 py-3 rounded-lg
leading-tight focus:outline-none focus:border-primary" %}

{% macro input_field(field, field_classname='', label_classname='', prefix_icon='', postfix_icon='', extra_params={}) %}
<div {% if field.type=="HiddenField" %} class="hidden" {% endif %}>

    <div class="inline-block relative w-full">

        <div class="{{'flex flex-row ' ~ label_base_classname}}">
            <div>
                {{ field.label(class=label_classname) }}
            </div>
            {% if not field.flags.required and field.type != "BooleanField" %}
            <div class="ml-2">(optional)</div>
            {% endif %}
        </div>

        {% if field.type == "BooleanField" %}

        <label class="relative inline-flex items-center cursor-pointer">
            {{field(class="sr-only peer")}}
            <div
                class="w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-primary-300 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all  peer-checked:bg-primary-600">
            </div>
        </label>

        {% else %}

        {{
        field(class=input_base_classname ~ field_classname,
        onkeyup="hideError(this)",
        **extra_params
        )
        }}

        {% endif %}


    </div>
    {% if field.errors %}
    <div class="text-red-500 text-xs italic field-error">
        {% for error in field.errors %}
        <p>{{ error }}</p>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endmacro %}


{% macro submit_button(label='Submit', classname='') %}
{{ btn.button(label, 'submit', id='submit', classname=classname) }}
{% endmacro %}

{% macro form(title, form, action_url, button_text="Submit") %}
<div>
    <form class="space-y-6" action="{{ action_url }}" method="POST">
        {{ form.csrf_token }}
        {% for field in form %}
        {% if field.type not in ("CSRFTokenField") %}
        {{ input_field(field) }}
        {% endif %}
        {% endfor %}

        <div class="p-2">
            {{ submit_button(button_text) }}
        </div>

        <script src="/static/js/errorHandling.js"></script>         
        <script>
        document.querySelectorAll('form select').forEach(select => {
        new SlimSelect({ select: select });
        });
        </script>

    </form>
</div>
{% endmacro %}

{% macro upload_form(title, form, action_url, button_text="Submit") %}
<div>
    <form class="space-y-6" action="{{ action_url }}" method="POST" enctype="multipart/form-data">
        {{ form.csrf_token }}
        {% for field in form %}
        {% if field.type not in ("CSRFTokenField") %}
        {{ input_field(field) }}
        {% endif %}
        {% endfor %}

        <div class="p-2">
            {{ submit_button(button_text) }}
        </div>

        <script src="/static/js/errorHandling.js"></script>         
        <script>
        document.querySelectorAll('form select').forEach(select => {
        new SlimSelect({ select: select });
        });
        </script>

    </form>
</div>
{% endmacro %}

{% macro auth_form(title, form, action_url, button_text="Submit", show_password_policy=false) %}
<div class="p-8 lg:p-12 bg-white border rounded-lg shadow w-full mb-6">
    <div class="">
        {{ icon.logo("mx-auto h-16 w-auto") }}
    </div>

    <div class="mt-6">
        <form class="space-y-6 w-full" action="{{ action_url }}" method="POST">
            {{ form.csrf_token }}
            {% for field in form %}
            {% if field.type not in ("CSRFTokenField") %}
            {{ input_field(field) }}
            {% endif %}
            {% endfor %}
            {% if show_password_policy %}
            <div id="password_policy">
                <p id="password_length" class="text-danger">At least 8 characters long</p>
                <p id="password_uppercase" class="text-danger">At least one uppercase character</p>
                <p id="password_lowercase" class="text-danger">At least one lowercase character</p>
                <p id="password_digit" class="text-danger">At least one digit</p>
                <p id="password_special" class="text-danger">At least one special character</p>
            </div>

            <script src="/static/js/passwordPolicy.js"></script>
            {% endif %}

            {{ submit_button(button_text, classname='md:w-full') }}
            <script src="/static/js/errorHandling.js"></script>
        </form>
    </div>
</div>
{% endmacro %}

{% macro transaction_form(request, form, action_url, account_id, transaction_id=false) %}
<div>
    <form class="space-y-6" action="{{ action_url }}" method="POST">
        {{ form.csrf_token }}
        {% for field in form %}
        {% if field.type not in ("CSRFTokenField") %}
        {{ input_field(field) }}
        {% endif %}
        {% endfor %}


        <div class="flex flex-col md:flex-row md:space-x-4 space-y-4 md:space-y-0 w-full">
            <div class="w-full md:w-auto">
                {{ submit_button('Update' if transaction_id else 'Add') }}
            </div>
            <div class="w-full md:w-auto">
                {% if transaction_id %}
                {{ modal.button("Delete") }}
                {% endif %}
            </div>
        </div>

        {% include 'fragments/forms/handler.html' %}

    </form>

    {% if transaction_id %}
    {{ modal.delete_object(request.url_for('page_delete_transaction', account_id=account_id,
    transaction_id=transaction_id),
    title="Delete Transaction") }}
    {% endif %}
</div>
{% endmacro %}

{% macro account_form(request, form, action_url, account_id=false) %}
{# TODO: request param is not in use #}
<div>
    <form class="space-y-6" action="{{ action_url }}" method="POST">
        {{ form.csrf_token }}
        {# TODO: DRY #}
        {% for field in form %}
        {% if field.type not in ("CSRFTokenField") %}
        {{ input_field(field) }}
        {% endif %}
        {% endfor %}

        {{ submit_button('Update' if account_id else 'Add') }}
    </form>
    {% include 'fragments/forms/handler.html' %}
</div>

{% if account_id %}

{% set delete_title = 'Delete ' ~ form.data['label'] ~ '?' %}

<div class="mt-6">
    <h3>Danger Zone</h3>
    <div
        class="border border-danger p-6 color-danger flex flex-col items-center md:flex-row md:space-x-4 space-y-4 md:space-y-0 w-full rounded">
        <div class="w-full md:w-auto grow">
            <p class="font-bold">
                Delete this account?
            </p>
            <span class="font-grey">
                Once you delete a account, there is no going back. Please be certain.
            </span>
        </div>
        <div class="w-full md:w-auto">
            <div>
                {{ modal.button("Delete this account") }}
            </div>
        </div>
        {{ modal.delete_object(request.url_for('page_delete_account', account_id=account_id), title=delete_title) }}
    </div>
</div>
{% endif %}
{% endmacro %}