{% import 'macros/buttons.html' as btn %}
{% import 'macros/icons.html' as icon %}
{% import 'macros/modal.html' as modal %}

{% macro input_field(field, field_classname='', label_classname='') %}
<div {% if field.type=="HiddenField" %} class="hidden" {% endif %}>
    <div class="inline-block relative w-full">

        {{ field.label(class="block uppercase tracking-wide text-gray text-xs font-bold mb-2 " ~ label_classname) }}
        {{
        field(class="
        disabled:bg-gray-200 disabled:text-gray
        block appearance-none border-2 w-full shadow bg-white border border-gray-200 px-4 py-2 rounded-md
        leading-tight focus:outline-none focus:border-primary " ~
        field_classname,
        onkeyup="hideError(this)"
        )
        }}

        {% if field.type=="SelectField" %}
        <div class="pointer-events-none absolute opacity-50 inset-y-0 right-0 flex items-center px-5 pt-6">
            <svg class="fill-current h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
            </svg>
        </div>
        {% endif %}

    </div>
    {% if field.errors %}
    <div class="text-red-500 text-xs italic field-error">
        {% for error in field.errors %}
        <p>{{ error }}</p>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endmacro %}

{% macro submit_button(label='Submit', classname='') %}
{{ btn.button(label, 'submit', id='submit', classname=classname) }}
{% endmacro %}

{% macro form(title, form, action_url, button_text="Submit") %}
<div>
    <form class="space-y-6" action="{{ action_url }}" method="POST">
        {{ form.csrf_token }}
        {% for field in form %}
        {% if field.type not in ("CSRFTokenField") %}
        {{ input_field(field) }}
        {% endif %}
        {% endfor %}

        <div class="p-2 flex flex-col items-end ">
            {{ submit_button(button_text) }}
        </div>

        <script src="/static/js/errorHandling.js"></script>
    </form>
</div>
</div>
{% endmacro %}

{% macro auth_form(title, form, action_url, button_text="Submit", show_password_policy=false) %}
<div class="p-8 lg:p-12 bg-white border rounded-md shadow w-full mb-6">
    <div class="">
        {{ icon.logo("mx-auto h-16 w-auto") }}
    </div>

    <div class="mt-6">
        <form class="space-y-6 w-full" action="{{ action_url }}" method="POST">
            {{ form.csrf_token }}
            {% for field in form %}
            {% if field.type not in ("CSRFTokenField") %}
            {{ input_field(field) }}
            {% endif %}
            {% endfor %}
            {% if show_password_policy %}
            <div id="password_policy">
                <p id="password_length" class="text-danger">At least 8 characters long</p>
                <p id="password_uppercase" class="text-danger">At least one uppercase character</p>
                <p id="password_lowercase" class="text-danger">At least one lowercase character</p>
                <p id="password_digit" class="text-danger">At least one digit</p>
                <p id="password_special" class="text-danger">At least one special character</p>
                <p id="password_confirm_error" style="display: none;" class="text-danger"></p>
            </div>

            <script src="/static/js/passwordPolicy.js"></script>
            {% endif %}
            {{ submit_button(button_text, 'md:w-full') }}
            <script src="/static/js/errorHandling.js"></script>
        </form>
    </div>
</div>
{% endmacro %}

{% macro transaction_form(request, form, action_url, account_id, transaction_id=false) %}
<div>
    <form class="space-y-6" action="{{ action_url }}" method="POST">
        {{ form.csrf_token }}
        {# TODO: DRY #}
        {% for field in form %}
        {% if field.type not in ("CSRFTokenField") %}
        {{ input_field(field) }}
        {% endif %}
        {% endfor %}

        <div class="p-2 flex flex-col items-end ">
            <div class="flex justify-end space-x-6">
                {% if transaction_id %}
                {{ modal.button("Delete") }}
                {% endif %}

                {{ submit_button('Update' if transaction_id else 'Add') }}
            </div>
        </div>

        <script src="/static/js/errorHandling.js"></script>
    </form>

    {% if transaction_id %}
    {{ modal.delete_object(request.url_for('page_delete_transaction', account_id=account_id,
    transaction_id=transaction_id),
    title="Delete Transaction") }}
    {% endif %}

</div>
{% endmacro %}

{% macro account_form(request, form, action_url, account_id=false) %}
<div>
    <form class="space-y-6" action="{{ action_url }}" method="POST">
        {{ form.csrf_token }}
        {# TODO: DRY #}
        {% for field in form %}
        {% if field.type not in ("CSRFTokenField") %}
        {{ input_field(field) }}
        {% endif %}
        {% endfor %}

        <div class="flex flex-col items-end">
            {{ submit_button('Update' if account_id else 'Add') }}
        </div>
</div>

<script src="/static/js/errorHandling.js"></script>
</form>

{% if account_id %}

{% set delete_title = 'Delete ' ~ form.data['label'] ~ '?' %}

<div class="mt-6">
    <h3>Danger Zone</h3>
    <div class="border border-danger p-6 color-danger flex flex-row place-items-center rounded">
        <div class="grow">
            <p class="font-bold">
                Delete this account?
            </p>
            <span class="font-grey">
                Once you delete a account, there is no going back. Please be certain.
            </span>
        </div>
        <div class="">
            {{ modal.button("Delete this account") }}
        </div>
        {{ modal.delete_object(request.url_for('page_delete_account', account_id=account_id), title=delete_title) }}
    </div>
</div>
{% endif %}
</div>
{% endmacro %}