{% import 'macros/buttons.html' as btn %}

{% macro input_field(name, label='', value='', type='text', required=False, autocomplete='') -%}
<div class="mb-3">
    <label for="{{ name }}" class="block text-sm font-medium leading-6 text-gray-900">{{ label }}</label>

    <input
        class="block w-full rounded-md border-0 p-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-primary sm:text-sm sm:leading-6"
        id="{{ name }}" type="{{ type }}" name="{{ name }}" value="{{ value }}" autocomplete="{{ autocomplete }}" {% if
        required %} required {% endif %}>
</div>
{% endmacro %}


{% macro auth_form(title, fields, action_url) %}
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <img class="mx-auto h-10 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=primary&shade=600"
            alt="Your Company" />
        <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">
            {{ title }}
        </h2>
    </div>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
        <form class="space-y-6" action="{{ action_url }}" method="POST">
            {{ fields }}
        </form>
    </div>
</div>
{% endmacro %}

{% macro submit_button(label='Submit') %}
{{ btn.primary_button('Submit', 'submit') }}
{% endmacro %}