<div class="mt-6">
    <h3>Danger Zone</h3>
    <div class="border border-danger p-6 color-danger flex flex-row place-items-center rounded">
        <div class="grow">
            <p class="font-bold">
                Delete this account?
            </p>
            <span class="font-grey">
                Once you delete a account, there is no going back. Please be certain.
            </span>
        </div>
        <div class="">
            {{ modal.button("Delete this account") }}
        </div>
        {{ modal.delete_object(request.url_for('page_delete_account', account_id=account_id), title=delete_title) }}
    </div>
</div>
{% endif %}
</div>
{% endmacro %}