{% set default_style = 'w-full h-auto'%}

{% macro logo(classname=default_style) -%}
    <img src="/static/img/logo.svg" class="{{ classname }}" />
{% endmacro %}

{% macro link(classname='h-6 w-6') %}
    <i class="fa-solid fa-link"></i>
{% endmacro %}


{% macro minus(classname='w-4 h-4') %}
    <i class="fa-solid fa-minus"></i>
{% endmacro %}


{% macro plus(classname='w-4 h-4') %}
    <i class="fa-solid fa-plus"></i>
{% endmacro %}

{% macro repeat(classname='w-4 h-4') %}
    <i class="fa-solid fa-repeat"></i>
{% endmacro %}