{% import 'macros/buttons.html' as btn %}

{% macro button(label, classname='ml-6') %}
{{ btn.button(label, 'button', id='openModalButton', classname=classname, variant="danger") }}
{% endmacro %}


{% macro delete_object(action_url, title='Are you sure?', body='') %}
<div id="deleteAccountModal" class="relative z-10 hidden" aria-labelledby="modal-title" role="dialog" aria-modal="true">
    <div id="modalBackdrop" class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
    <div class="fixed inset-0 z-10 overflow-y-auto">
        <div class=" flex  min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
            <div
                class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
                <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
                    <div class="absolute right-3 top-3">
                        <button id="closeModal">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" aria-hidden="true"
                                class="h-6 w-6 transition-opacity opacity-50 hover:opacity-100">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12">
                                </path>
                            </svg>
                        </button>
                    </div>
                    <div class="sm:flex sm:items-start">

                        <div
                            class="mx-auto flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
                            <svg class="h-6 w-6 text-red-600" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
                            </svg>
                        </div>

                        <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
                            <h3 class="text-base font-semibold leading-6 text-gray-900" id="modal-title">{{ title }}
                            </h3>
                            <div class="mt-2">
                                <p class="text-sm text-gray-500">{{ body }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
                    <form action="{{ action_url }}" method="POST">
                        {{ btn.button("Yes, delete!", 'submit', id='actionBtn', variant="danger") }}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var modal = document.getElementById("deleteAccountModal");
    var modalContent = document.querySelector(".transform.overflow-hidden.rounded-lg.bg-white.text-left.shadow-xl.transition-all.sm\\:my-8.sm\\:w-full.sm\\:max-w-lg");
    var closeModal = document.getElementById("closeModal");
    var actionBtn = document.getElementById("actionBtn");
    var openModalButton = document.getElementById("openModalButton");

    function toggleModal() {
        if (modal.classList.contains('hidden')) {
            modal.classList.remove('hidden');
            modal.classList.add('block');
        } else {
            modal.classList.remove('block');
            modal.classList.add('hidden');
        }
    }

    openModalButton.onclick = function (event) {
        event.stopPropagation();
        toggleModal();
    };

    closeModal.onclick = toggleModal;
    actionBtn.onclick = toggleModal;

    // Click outside modal to close
    modal.onclick = function (event) {
        toggleModal();
    }

    // Prevent modal from closing when clicking inside modal content
    modalContent.onclick = function (event) {
        event.stopPropagation();
    }

    // Press escape to close
    window.addEventListener('keydown', function (event) {
        if (event.key === 'Escape' && !modal.classList.contains('hidden')) {
            toggleModal();
        }
    });

</script>

{% endmacro %}