{% extends "layouts/dashboard.html" %}
{% import 'macros/form_controls.html' as form_ctrl %}

{% set title = 'Settings' %}


{% block content %}

{% if not is_verified %}
<div class="rounded-lg border-2 border-danger px-4 py-3" role="alert">
  <div class="flex">
    <div class="py-1 mr-3 text-danger">
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                viewBox="0 0 20 20">
                <path
                    d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 11.793a1 1 0 1 1-1.414 1.414L10 11.414l-2.293 2.293a1 1 0 0 1-1.414-1.414L8.586 10 6.293 7.707a1 1 0 0 1 1.414-1.414L10 8.586l2.293-2.293a1 1 0 0 1 1.414 1.414L11.414 10l2.293 2.293Z" />
            </svg>
    </div>
    <div>
      <p class="font-bold text-danger">Your email is currently unverified.</p>
      <div class="text-sm">
        <p>Please check your inbox for a verification email and follow the instructions provided.</p>
        <p>If you haven't received the email, you may need to check your spam folder or <a href="{{ url_for('get_new_token') }}">request a new verification email.</a></p>
      </div>
    </div>
  </div>
</div>
{%endif%}

{{ form_ctrl.form(title, form, action_url, "Update") }}
{% endblock %}