{% extends "layouts/base.html" %} {% block content %}
<div class="container mx-auto my-5 p-5">
    <h1 class="text-center text-3xl mb-5">Login</h1>
    <form method="POST" action="/login/">
        <div class="mb-4">
            <label for="username" class="block text-sm font-bold mb-2"
                >Email:</label
            >
            <input
                type="text"
                id="username"
                name="username"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                value="{{username|default('')}}"
                required
            />
        </div>
        <div class="mb-4">
            <label for="password" class="block text-sm font-bold mb-2"
                >Password:</label
            >
            <input
                type="password"
                id="password"
                name="password"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                required
            />
        </div>
        <div class="flex items-center justify-between">
            <button
                type="submit"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            >
                Login
            </button>
            <a
                href="/forgot-password"
                class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800"
                >Forgot Password?</a
            >
        </div>
    </form>
    <div class="mt-6 text-center">
        <p>
            Don't have an account?
            <a
                href="/register"
                class="font-bold text-blue-500 hover:text-blue-800"
                >Register</a
            >
        </p>
    </div>
</div>
{% endblock %}
