{% extends "layouts/auth.html" %}
{% import 'macros/buttons.html' as btn %}
{% set title = 'Token Verification Status' %}
{% block content %}
<div class="text-center bg-white rounded-lg shadow py-8 px-12 flex flex-col items-center">
    {% if verification_status == 0 %}
    <h2 class="text-2xl font-bold text-danger mb-4">Invalid Token</h2>
    <p class="mb-4">
        It seems like your token is invalid or has expired. Don't worry, you
        can request a new one.
    </p>
    <a href="{{ url_for('get_new_token') }}">
        {{ btn.button("Get new token", 'button') }}
    </a>
    {% elif verification_status == -1 %}
    <h2 class="text-2xl font-bold text-success-dark mb-4">Already Verified</h2>
    <p class="mb-4">
        Good news! Your email is already verified. You can go ahead and
        login.
    </p>
    {% else %}
    <h2 class="text-2xl font-bold text-success-dark mb-4">
        Verified Successfully
    </h2>
    <p class="mb-4">
        Congratulations! Your email has been successfully verified.
    </p>
    {% endif %}
    <div class="mt-8">
        <a href="{{ url_for('login') }}">Back to Login</a>
    </div>
</div>

{% endblock %}