{% import 'macros/form.html' as form %}

{% set title = 'Reset Password' %}
{% set action_url = url_for('reset_password') %}
{% set fields %}
<input type="hidden" name="token" value="{{ token }}" />
<div>
    {{ form.input_field('password', 'New Password', type='password', required=True) }}
</div>
<div>
    {{ form.input_field('password_confirm', 'Confirm New Password', type='password', required=True) }}
</div>

<div>
    {{ form.submit_button("Reset Password") }}
</div>
{% endset %}

{% extends "layouts/auth.html" %}

{% block content %}
{{ form.auth_form(title, fields, action_url) }}
{% endblock %}