{% import 'macros/form.html' as form %}

{% set title = 'Request New Verification Token' %}
{% set action_url = url_for('send_new_token') %}
{% set fields %}
<p class="mb-4">
    Please enter your email address and we'll send you a new
    verification token.
</p>
<div>
    {{ form.input_field('email', 'Email', type='email', required=True) }}
</div>

<div>
    {{ form.submit_button("Request New Token") }}
</div>

<div class="mt-8">
    <a href="{{ url_for('login') }}" class="text-blue-500 hover:underline">
        Back to Login
    </a>
</div>
{% endset %}

{% extends "layouts/auth.html" %}

{% block content %}
{{ form.auth_form(title, fields, action_url) }}
{% endblock %}