{% extends "layouts/base.html" %} {% block content %}
<div class="container">
    <h1 class="text-center mt-5">Reset Password</h1>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form action="/reset-password" method="POST">
                <input type="hidden" name="token" value="{{ token }}" />
                <div class="mb-3">
                    <label for="password" class="form-label"
                        >New Password</label
                    >
                    <input
                        type="password"
                        class="form-control"
                        id="password"
                        name="password"
                        placeholder="New Password"
                        required
                    />
                </div>
                <div class="mb-3">
                    <label for="password_confirm" class="form-label"
                        >Confirm New Password</label
                    >
                    <input
                        type="password"
                        class="form-control"
                        id="password_confirm"
                        name="password_confirm"
                        placeholder="Confirm New Password"
                        required
                    />
                </div>
                <button type="submit" class="btn btn-primary">
                    Reset Password
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
