{% import 'macros/form.html' as form %}

{% set title = 'Register' %}
{% set action_url = url_for('register') %}
{% set fields %}
<div>
    {{ form.input_field('email', 'Email address', type='email', value=email|default(''), required=True) }}
</div>
<div>
    {{ form.input_field('displayname', 'Name', type='text', value=displayname|default(''), required=True) }}
</div>
<div>
    {{ form.input_field('password', 'Password', type='password', required=True) }}
</div>
<div>
    {{ form.input_field('password_confirm', 'Confirm Password', type='password', required=True) }}
</div>

<div>
    {{ form.submit_button("Register") }}
</div>

<div class="text-sm">
    Already have an account?
    <a href="{{ url_for('login') }}" class="font-semibold text-indigo-600 hover:text-indigo-500">Login</a>
</div>
{% endset %}

{% extends "layouts/auth.html" %}

{% block content %}
{{ form.auth_form(title, fields, action_url) }}
{% endblock %}