{% import 'macros/form.html' as form %}

{% set title = 'Sign in to your account' %}
{% set action_url = url_for('login') %}
{% set fields %}
<div>
    {{ form.input_field('username', 'Email Address', type='email', value=username|default(''), required=True) }}
</div>

<div>
    <div>
        {{ form.input_field('password', 'Password', type='password', required=True) }}
    </div>
    <div class="text-sm">
        <a href="{{ url_for('forgot_password') }}">Forgot
            password?</a>
    </div>
</div>

<div>
    {{ form.submit_button() }}
</div>
{% endset %}

{% extends "layouts/auth.html" %}

{% block content %}
{{ form.auth_form(title, fields, action_url) }}
{% endblock %}