{% import 'macros/form_elements.html' as form_elements %}

{% set title = 'Forgot Password' %}
{% set action_url = url_for('forgot_password') %}
{% set fields %}
<div>
    {{ form.input_field('username','Email Address', type='email', value=username|default('')) }}
</div>

<div>
    {{ form.submit_button("Send Reset Link") }}
</div>

<div class="text-sm">
    Remember your password?
    <a href="{{ url_for('login') }}">Login</a>
</div>
{% endset %}

{% extends "layouts/auth.html" %}

{% block content %}
{{ form.auth_form(title, fields, action_url) }}
{% endblock %}