<div
    class="bg-white transition items-center rounded-md py-4 px-6 border shadow border-l-2 border-l-gray hover:border-l-primary flex justify-between gap-x-6 py-">
    <div class="flex gap-x-4">
        <div class="min-w-0 flex-auto">
            <p class="text-gray-500 text-xs">{{ transaction.information.category.label }}</p>
            <h4>
                {{ transaction.information.reference }}
                </h3>
        </div>
    </div>
    <div class="">
        <h4
            class="px-2 py-1 rounded-md {{ 'bg-success-light text-success-dark' if transaction.information.amount > 0 else '' }}">
            {{
            transaction.information.amount }}</h4>
    </div>
</div>